body {
    min-height:100vh;
    min-width:100vw;
}

.boost {
    position: absolute;
        top: 210px;
        left: 47px;
    width: 25px;
    visibility:hidden;
}

.location {
    color:white;
    font-family:monospace;
    font-size:26px;
    position:absolute;
        bottom:1em;
        right:1.5em;
}

.rocket {
    position: absolute;
        top: 45%;
    transform: rotate(90deg);
    z-index:1;
}
.starship {
    height: 225px;
    position:absolute;
    
}


@media (max-width: 1000px) {

    .starship {
        height: 200px;
    }

    .boost {
        top:187px;
        left: 42px;
        width: 22px;
    }

    .location {
        font-size:25px;
    }

}

@media (max-width: 800px) {

    .starship {
        height: 175px;
    }

    .boost {
        top:164px;
        left: 37px;
        width: 19px;
    }

    .location {
        font-size:24px;
    }

}

@media (max-width: 600px) {

    .starship {
        height: 150px;
    }

    .boost {
        top:140px;
        left: 32px;
        width: 16px;
    }

    .location {
        font-size:23px;
    }
    
}

