.astronaut {
    cursor: pointer;
    height: 1px;
    position:absolute;
        top:3em;
        right:5em;
    user-select: none;
    visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index:3;
}

.body {
    background-color: black;
    display:flex;
        align-items: center;
        justify-content: center;
    margin:0;
    min-height:100vh;
    min-width:100vw; 
    overflow: hidden;
    scroll-behavior: smooth;
}

.boost {
    position: absolute;
        top: 210px;
        left: 47px;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    width: 25px;
    visibility:hidden;
    z-index:1;
}

canvas {
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

footer {
    opacity:0.5;
    position:absolute;
        bottom:15px;
    text-align: center;
    visibility: hidden;
}

footer a {
    color: white;
    font-family: "press start 2p", sans-serif;
    min-width:225px;
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
}

.hubble {
    cursor:pointer;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    width: 225px;
    visibility:hidden;
    z-index:2;
}

.info {
    background-color: black;
    border-radius: 10px;
    color:white;
    font-family: "jura", monospace;
    opacity: 0.75;
    overflow-y:scroll;
    max-width: 50vw;
    max-height: 80vh;
    padding: 1rem;
    position:absolute;
        right:5%;
        top:1%;
    text-shadow: 0px 0px 2px black;
    z-index:6;
}    

.info h1 {
    font-family: "audiowide";
    text-align: center;
}

.info h3 {
    font-family: "antonio";
    margin-top:2rem;
    text-indent: 5px;
}

.info-aurora {
    visibility:hidden;
}

.info-earth {
    visibility:hidden;
}

.info-mars {
    visibility:hidden;
}

.info-mercury {
    visibility:hidden;
}

.info-moon {
    visibility:hidden;
}

.info-sun {
    visibility:hidden;
}

.info-venus {
    visibility:hidden;
}

.iss {
    cursor:pointer;
    transform:rotate(-20deg);
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    width:400px;
    visibility:hidden;
}

.left-nav {
    background-color:white;
    border-radius: 5px;
    cursor:pointer;
    font-family: "jura", monospace;
    font-size:larger;
    height: 100vh;
    display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    opacity:0.0;
    position:absolute;
        left:0;
        top:0;
    text-shadow: 0px 0px 2px black;
    user-select: none;
    -webkit-user-select: none;
    width:5%;
    z-index:0;
}

.location {
    color:ghostwhite;
    font-family: "audiowide", "antonio", "jura", monospace;
    font-size:26px;
    position:absolute;
        bottom:1em;
        right:1.5em;
    user-select: none;
    -webkit-user-select: none;
    z-index:5;
}

.nav {
    border-radius: 10px;
    cursor:pointer;
    display:flex;
        align-items: center;
        justify-content:space-evenly;
    height:98vh;
    position:absolute;
        left:5%;
    width:33vw;
    visibility: hidden;
    z-index:5;
}

.nav-bottom {
    background-color: white;
    border-radius:10px;
    min-height:10%;
    opacity:0.3;
    position:absolute;
        bottom:0;
    width:100%;
}

.nav #bottom {
    bottom:10.3%;
    left:0;
}

.nav #middle {
    top:36.9%;
    left:0;
}

.nav-top {
    background-color: white;
    border-radius:10px;
    min-height:10%;
    opacity:0.3;
    position:absolute;
        top:0;
    width:100%;
}

.nav #top {
    top:10.3%;
    left:0;
}

.parker {
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-name:scan;
    animation-timing-function: ease-in-out;
    cursor:pointer;
    height: 200px;
    transform:rotate(-5deg);
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    visibility:hidden;
}

.picture {
    border-radius:10px;
    color:white;
    display: flex;
        align-items: center;
        justify-content: center;
    font-family: "audiowide", "antonio", monospace;
    font-size: 1.4rem;
    height:26.2%;
    position:absolute;
    text-align: center;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    width:100%;
}

.probe { 
    display:flex;
        align-items: center;
        justify-content: center;
    font-size: 20px;
    position:absolute;
        left: 0;
        top: 0;
    text-align: center;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
}

.probe figcaption {
    color:whitesmoke;
    font-family: "antonio", monospace;
    position:absolute;
        top:50%;
    visibility: hidden;
    z-index:4;
}

.right-nav {
    background-color:white;
    border-radius: 5px;
    cursor:pointer;
    font-family: "jura", monospace;
    font-size:larger;
    height:100vh;
    display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    opacity:0.0;
    position:absolute;
        right:0;
        top:0;
    text-shadow: 0px 0px 2px black;
    user-select: none;
    -webkit-user-select: none;
    width:5%;
    z-index:0;
}

.rocket {
    cursor:pointer;
    position: absolute;
        top: 45%;
    transform: rotate(90deg);
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    z-index:1;
}

.space-station {
    display:flex;
        align-items: center;
        justify-content: center;
    font-size: 20px;
    position:absolute;
        left: 0;
        top: 0;
    text-align: center;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
}

.space-station figcaption {
    color:whitesmoke;
    font-family: "antonio", monospace;
    position:absolute;
        bottom:0;
    visibility: hidden;
    z-index:4;
}

.starship {
    height: 225px;
    position:absolute;
    visibility:hidden;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    z-index:1;
}

.telescope {
    display:flex;
        justify-content: center;
    font-family: "antonio", monospace;
    font-size: 20px;
    position:absolute;
        left: 9em;
        top: 3em;
    text-align: center;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
}

.telescope figcaption {
    color:whitesmoke;
    position:absolute;
        bottom:20%;
    visibility: hidden;
    z-index:4;
}


@keyframes scan {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}


@media (max-width: 1000px) {

    .boost {
        top:187px;
        left: 42px;
        width: 22px;
    }

    .hubble {
        width: 200px;
    }

    .iss {
        width:375px;
    }

    .location {
        font-size:25px;
    }

    .parker {
        height: 175px;
    }

    .probe {
        font-size: 19px;
    }

    .space-station {
        font-size: 19px;
    }
    
    .starship {
        height: 200px;
    }

    .telescope {
        font-size: 19px;
        left:8em;
        top:4em;
    }

}

@media (max-width: 800px) {

    .boost {
        top:164px;
        left: 37px;
        width: 19px;
    }

    .hubble {
        width: 175px;
    }

    .iss {
        width:350px;
    }

    .location {
        font-size:24px;
    }

    .parker {
        height: 150px;
    }

    .probe {
        font-size: 18px;
    }

    .space-station {
        font-size: 18px;
    }
    
    .starship {
        height: 175px;
    }

    .telescope {
        font-size: 18px;
        left:6em;
        top:6em;
    }

}

@media (max-width: 600px) {

    .boost {
        top:140px;
        left: 32px;
        width: 16px;
    }

    .hubble {
        width: 150px;
    }

    .iss {
        width:350px;
    }

    .location {
        font-size:23px;
    }

    .parker {
        height: 125px;
    }

    .picture {
        font-size: 1.2rem;
    }

    .probe {
        font-size: 16px;
    }

    .space-station {
        font-size: 16px;
    }
    
    .starship {
        height: 150px;
    }

    .telescope {
        font-size: 16px;
        left:3em;
    }

}

