body {
    background-color: black;
    background-image: url(assets/milkyway.jpeg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    min-height:100vh;
}
